<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Course</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">

    <h2>Add Course</h2>

    <div class="form-container">
        <form th:action="@{/courses/save}" 
              th:object="${course}" 
              method="post">

            <label>Course Title</label>
            <input type="text" th:field="*{title}" placeholder="Enter Course Title">

            <label>Description</label>
            <input type="text" th:field="*{description}" placeholder="Enter Description">

            <label>Price</label>
            <input type="number" step="0.01" th:field="*{price}" placeholder="Enter Price">

            <button class="btn" type="submit">Save Course</button>

        </form>
    </div>

</div>

</body>
</html>
