<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Payments</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">

    <h2>Payment List</h2>

    <a class="btn" th:href="@{/payments/add}">Add Payment</a>

    <table>
        <tr>
            <th>Invoice ID</th>
            <th>Amount</th>
            <th>Payment Date</th>
            <th>Method</th>
        </tr>

        <tr th:each="payment : ${payments}">
            <td th:text="${payment.invoice.id}"></td>
            <td th:text="${payment.amount}"></td>
            <td th:text="${payment.paymentDate}"></td>
            <td th:text="${payment.method}"></td>
        </tr>

    </table>

</div>

</body>
</html>
