<head>
    <title>Students</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">

<h2>Student List</h2>

<a class="btn" th:href="@{/students/add}">Add Student</a>

<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>

    <tr th:each="student : ${students}">
        <td th:text="${student.name}"></td>
        <td th:text="${student.email}"></td>
        <td th:text="${student.phone}"></td>
    </tr>
</table>

</div>

</body>
